.btn-primary {
    color: #fff;
    background: #57b846;
    border-color: #57b846;
  }
  .btn-primary:hover {
    color: #fff;
    background: #57b846;
    border-color: #57b846;
  }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background: #57b846;
    border-color: #57b846;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background: #57b846;
    border-color: #57b846;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background: #57b846;
    border-color: #57b846;
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    height: 100%;
    display: block;
    background-color: white;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  #layoutAuthentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:white;
  
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  .text-center {text-align: center;}
    .p-t-12 {padding-top: 12px;}
    .txt1 {
      font-family: Poppins-Regular;
      font-size: 13px;
      line-height: 1.5;
      color: #999999;
    }
  
  #layoutAuthentication #layoutAuthentication_content {
    min-width: 0;
    flex-grow: 1;
  }
  main{display: block;
  }
  #layoutAuthentication #layoutAuthentication_footer {
    min-width: 0;
  }
  .container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  div {
    display: block;
  }
  .justify-content-center {
    justify-content: center !important;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .col-lg-5{
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }  
  .mt-5{
    margin-top: 3rem !important;
  }
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  .rounded-lg {
    border-radius: 0.3rem !important;
  }
  .border-0 {
    border: 0 !important;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .mt-auto, .my-auto {
    margin-top: auto !important;
  }
  .py-4 {
    padding-bottom: 1.5rem !important;
  }
  .bg-light {
    background-color: #f8f9fa !important;
  }
  footer{display: block;}
  html {
    display: block;
    color: -internal-root-color;
    font-family: sans-serif;
    line-height: 1.15;
    background-color: white;
  }