      <div class="sidebar">
        <div class="user-profile">
          <div>
            <img class="profile-img img-lg rounded-circle" 
            src="assets/img/256x256bb.jpg" alt="not Found">
          </div>
          <div class="info-wrapper">
            <p class="user-name"></p>
            <h6 class="display-income"> </h6>
          </div>
        </div>
        <ul class="navigation-menu">
          <li class="nav-category-divider">Menu</li>
          <li>
            <a routerLink="/admin">
              <span class="link-title">Accueil</span>
              <i class="mdi mdi-bullseye link-icon"></i>
            </a>
          </li>
          <li>
            <a routerLink="/forms">
              <span class="link-title">Paramétrer les notificatons</span>
              <i class="mdi mdi-clipboard-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a routerLink="/table">
              <span class="link-title">Tableau des notifications </span>
              <i class="mdi mdi-table-large link-icon"></i>
            </a>
          </li>
          <li>
            <a routerLink="">
              <span class="link-title">Icons</span>
              <i class="mdi mdi-flower-tulip-outline link-icon"></i>
            </a>
          </li>
     <li>
          </li>
        </ul>
      </div>
