/* Error Pages */
.error_page.error_2 {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    background: #fff; }
    .error_page.error_2 .inner-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .error_page.error_2 .inner-wrapper .error-heading {
        font-size: 40px;
        font-weight: 600;
        line-height: 1; }
        @media (min-width: 768px) and (max-width: 991px) {
          .error_page.error_2 .inner-wrapper .error-heading {
            font-size: calc(40px + 19 * ((100vw - 768px) / 223)); } }
        @media (min-width: 991px) and (max-width: 1200px) {
          .error_page.error_2 .inner-wrapper .error-heading {
            font-size: calc(59px + 110 * ((100vw - 991px) / 209)); } }
        @media (min-width: 1200px) {
          .error_page.error_2 .inner-wrapper .error-heading {
            font-size: 169px; } }
      .error_page.error_2 .inner-wrapper .error-code {
        margin-top: 10px;
        font-weight: 600; }
      .error_page.error_2 .inner-wrapper .error-message {
        max-width: 500px;
        margin-top: 5px;
        text-align: center; }
      .error_page.error_2 .inner-wrapper .btn {
        margin: 30px auto 0 auto; }