
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb has-arrow">
            <li class="breadcrumb-item">
              <a routerLink="/admin">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Tableau des notifications</li>
          </ol>
        </nav>
          <div class="col-lg-12">
            <div class="grid">
              <p class="grid-header">Tableau des Notifications</p>
              <div class="item-wrapper">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nom et Prénom</th>
                        <th>Cin</th>
                        <th>Catégorie du notification</th>
                        <th>Paramétres des notifications</th>
                        <th>Type des notifications</th>
                        <th>Contenu des notifications</th>
                        <th>Started</th>
                        <th>Deadline</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="d-flex align-items-center border-top-0">
                          <img class="profile-img img-sm img-rounded mr-2" src="assets/img/image_1.png" alt="profile image">
                          <span>Herman Beck</span>
                        </td>
                        <td class="text-success">
                          012356874
                          <div class="progress progress-slim">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>

                        </td>
                        <td> 
                          Catégorie compte</td>
                        <td>
            
                        <ol>notification  sur solde</ol>
                        <ol>notification sur transactions</ol>
                        
                        </td>
                        <td>notification Mail 
                        </td>
                        <td class="text-success"> 15.67% <i class="mdi mdi-arrow-up"></i>
                        </td>
                        <td>Jul 12, 2019 </td>
                        <td>Jar 23, 2019 </td>
                        <td class="actions">
                          <i class="mdi mdi-dots-vertical"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center">
                          <img class="profile-img img-sm img-rounded mr-2" src="assets/img/image_1.png" alt="profile image">
                          <span>Curtis Greer</span>
                        </td>
                        <td class="text-success">
                          012356874
                          <div class="progress progress-slim">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        
                        </td>
                        <td> 
                          Catégorie Produit</td>
                        <td>  notification sur transactions
                        </td>
                        <td>notification sms</td>
                        <td class="text-danger"> 23.05% <i class="mdi mdi-arrow-down"></i>
                        </td>
                        <td>Jul 12, 2019 </td>
                        <td> May 15, 2019 </td>
                        <td class="actions">
                          <i class="mdi mdi-dots-vertical"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center">
                          <img class="profile-img img-sm img-rounded mr-2" src="assets/img/image_1.png" alt="profile image">
                          <span>Lettie Phillips</span>
                        </td>
              
                          <td class="text-success">
                            012356874
                            <div class="progress progress-slim">
                              <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          
                        </td>
                        <td> 
                          Catégorie Produit</td>
                        <td>                          notification sur solde
                        </td>
                        <td>notification mail</td>
                        <td class="text-success"> 23.05% <i class="mdi mdi-arrow-up"></i>
                        </td>
                        <td>Jul 12, 2019 </td>
                        <td> May 15, 2019 </td>
                        <td class="actions">
                          <i class="mdi mdi-dots-vertical"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center">
                          <img class="profile-img img-sm img-rounded mr-2" src="assets/img/image_1.png" alt="profile image">
                          <span>Rachel Garza</span>
                        </td>
                        <td class="text-success">
                          012356874
                          <div class="progress progress-slim">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        
                      </td>
                        <td>                        
                        Catégorie Produit
                        </td>
                        <td>                          notification sur transactions
                        </td>
                        <td>notification sms</td>
                        <td class="text-success"> 67.23% <i class="mdi mdi-arrow-up"></i>
                        </td>
                        <td>Jul 12, 2019 </td>
                        <td>Apr 06, 2019 </td>
                        <td class="actions">
                          <i class="mdi mdi-dots-vertical"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="d-flex align-items-center">
                          <img class="profile-img img-sm img-rounded mr-2" src="assets/img/image_1.png" alt="profile image">
                          <span>Estelle Guzman</span>
                        </td>
                        <td class="text-success">
                          012356874
                          <div class="progress progress-slim">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </td>
                        <td>
                          Catégorie Compte 
                        </td>
                        <td>notification sur transactions</td>
                        <td>notification mail</td>
                        <td class="text-danger"> 12.45% <i class="mdi mdi-arrow-down"></i>
                        </td>
                        <td>Jul 12, 2019 </td>
                        <td>Jul 12, 2019 </td>
                        <td class="actions">
                          <i class="mdi mdi-dots-vertical"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
           