.grid-header {
  color : black;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03rem;
  background: #fbfcfd;
  border-left: 3px solid #28a745;
  border-radius: 0px 6px 0px 0px; }
/* Tables */
.table,
table {
  margin-bottom: 0; }
  .table thead tr th,
  .table tfoot tr th,
  table thead tr th,
  table tfoot tr th {
    border-bottom-width: 1px;
    font-size: 14px;
    font-weight: 500; }
    @media (min-width: 768px) and (max-width: 991px) {
      .table thead tr th,
      .table tfoot tr th,
      table thead tr th,
      table tfoot tr th {
        font-size: calc(14px + 0 * ((100vw - 768px) / 223)); } }
    @media (min-width: 991px) and (max-width: 1200px) {
      .table thead tr th,
      .table tfoot tr th,
      table thead tr th,
      table tfoot tr th {
        font-size: calc(14px + -1 * ((100vw - 991px) / 209)); } }
    @media (min-width: 1200px) {
      .table thead tr th,
      .table tfoot tr th,
      table thead tr th,
      table tfoot tr th {
        font-size: 13px; } }
  .table tbody tr,
  table tbody tr {
    transition-duration: 0.5s; }
    .table tbody tr td,
    table tbody tr td {
      font-size: 14px;
      vertical-align: middle; }
      @media (min-width: 768px) and (max-width: 991px) {
        .table tbody tr td,
        table tbody tr td {
          font-size: calc(14px + 0 * ((100vw - 768px) / 223)); } }
      @media (min-width: 991px) and (max-width: 1200px) {
        .table tbody tr td,
        table tbody tr td {
          font-size: calc(14px + -1 * ((100vw - 991px) / 209)); } }
      @media (min-width: 1200px) {
        .table tbody tr td,
        table tbody tr td {
          font-size: 13px; } }
      .table tbody tr td .input-frame:after,
      table tbody tr td .input-frame:after {
        top: 5px; }
      .table tbody tr td span,
      table tbody tr td span {
        display: flex;
        align-items: center; }
        .table tbody tr td span .status-indicator,
        table tbody tr td span .status-indicator {
          margin-right: 5px; }
      .table tbody tr td .image,
      table tbody tr td .image {
        max-width: 75px;
        width: 100%; }
        
    .table tbody tr.text-align-edge td:first-child,
    table tbody tr.text-align-edge td:first-child {
      padding-left: 0;
      text-align: left; }
    .table tbody tr.text-align-edge td:last-child,
    table tbody tr.text-align-edge td:last-child {
      padding-right: 0;
      text-align: right; }
  .table th,
  .table td,
  table th,
  table td {
    white-space: nowrap; }
  .table:not(.table-dark) thead tr.solid-header th,
  table:not(.table-dark) thead tr.solid-header th {
    background: #fafafa;
    border-top: 1px solid #f2f4f9; }
  .table:not(.table-dark) thead,
  .table:not(.table-dark) tfoot,
  table:not(.table-dark) thead,
  table:not(.table-dark) tfoot {
    background: #e1e4e6; }
    .table:not(.table-dark) thead tr th,
    .table:not(.table-dark) tfoot tr th,
    table:not(.table-dark) thead tr th,
    table:not(.table-dark) tfoot tr th {
      background: #fff;
      color: #101010; }
  .table:not(.table-dark) tbody tr[class*='bg'],
  table:not(.table-dark) tbody tr[class*='bg'] {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2); }
    .table:not(.table-dark) tbody tr[class*='bg'] td,
    table:not(.table-dark) tbody tr[class*='bg'] td {
      color: #fff;
      border: none; }
  .table:not(.table-dark) tbody tr td,
  table:not(.table-dark) tbody tr td {
    color: #101010; }
  .table:not(.table-bordered) thead tr th,
  .table:not(.table-bordered) tfoot tr th,
  table:not(.table-bordered) thead tr th,
  table:not(.table-bordered) tfoot tr th {
    border-top: none; }
  .table.info-table tr td,
  .table.info-table tr th,
  table.info-table tr td,
  table.info-table tr th {
    text-align: right; }
    .table.info-table tr td:first-child,
    .table.info-table tr th:first-child,
    table.info-table tr td:first-child,
    table.info-table tr th:first-child {
      text-align: left; }
    .table.info-table tr td.actions,
    .table.info-table tr th.actions,
    table.info-table tr td.actions,
    table.info-table tr th.actions {
      padding-left: 0; }
