&nbsp;
<button type="button" type="submit" class="btn btn-success" data-dismiss="modal"(click)="addForm()">Enregistrer</button>
<form class="normal-form" *ngFor="let obj of Dataarray; let i=index" >
    <div class="form-row"  >
<div class="form-wrapper" class="controles-container" >
<label>Paramétre</label>
<input type="text" class="form-control" name="input{{i}}" ngModel='obj.input' >
</div>
<div class="form-wrapper">
<label>Montant</label>
<input type="number" class="form-control" name="Montant{{i}}" ngModel='obj.Montant'>
</div>
<div class="form-groupe" >
<div class="checkbox">
  <label>
    <input type="checkbox" class="form-check-input"> Sms <i class="input-frame"></i>
  </label>
</div>
</div>
 <app-canal></app-canal>
 <span  class="mdi mdi-backspace" (click)="remove(i)"></span>
</div>
<span class="mdi mdi-plus-box" (click)="addForm()"></span>
<button class="btn btn-primary" >Ajouter</button>
</form>