<div class="radio mb-3">
    <label class="radio-label">
      <input name="sample" type="radio" (click)='addparametreProduit()'>Produit Bancaire<i class="input-frame"></i>
    </label>
  </div>
<div class="row showcase_row_area" *ngFor="let obj of ProduitArray; let i=index">
<div class="col-md-3 showcase_text_area" >
<label>Paramétres de catégorie Produit Bancaire</label>
</div>
<div class="col-md-9 showcase_content_area">
<select class="custom-select">
  <option selected>Produits bancaire</option>
  <option value="1"  ngModel='obj.plafond'>Notification plafond du carte</option>
  <option value="2"  ngModel='obj.DateExpiration'>Notification sur </option>
</select>
</div>
<app-repeatfield></app-repeatfield>
</div>
