
   <div class="bg-primary">
    <div id="layoutAuthentication">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="card shadow-lg border-0 rounded-lg mt-4">
                                <div class="card-header"  style="text-align: center;">   
                                    <h2>L'e-mail a été envoyé.</h2>
                                <div class="card-body">
<p>Consultez votre boîte de réception ........ pour
 obtenir des instructions sur la réinitialisation de votre mot de passe.</p>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </main>
 </div>
 </div>
 
 

