
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="assets\img\Banque-Zitouna.jpg" alt="IMG">
				</div>
				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Login
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button  class="login100-form-btn"(click)="navigateToAdmin()">
							S'identifier

						</button>
					</div>
					<div  class="text-center p-t-12">
						<a class="txt2"  routerLink='password'>
							Nom d'utilisateur / mot de passe oublié ?						</a>
				</div>
					<div class="text-center p-t-136">
					<a class="txt2" routerLink="/register">
						Créez votre compte 
											<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true" ></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
