<div class="form-inline">
    <div class="checkbox">
      <label>
        <input type="checkbox" class="form-check-input" (click)=" addcanal()"> Mail <i class="input-frame"></i>
      </label>
    </div>
        <div class="form-group" *ngFor="let obj of mailarray; let i=index">
            <div class="radio" >
              <label class="radio-label mr-4">
                <input name="sample1" type="radio" name="mailStandards{{i}}"ngModel='obj.mailStandards' >Mail Standards<i class="input-frame"></i>
              </label>
            </div>
            <div class="radio">
              <label class="radio-label">
                <input name="sample2" type="radio"  name="mailPersonalise{{i}}" ngModel='obj.mailPersonalise' >Mail personnalisé <i class="input-frame"></i>
              </label>
            </div>
          </div>
</div>