<div class="radio mb-3">
    <label class="radio-label mr-4">
      <input name="sample" type="radio" checked (click)="addparametrecompte()">Compte <i class="input-frame"></i>
    </label>
  </div>
  
  <div class="row showcase_row_area" *ngFor="let obj of compteArray; let i=index">
    <div class="col-md-3 showcase_text_area">
   <label>Paramétres de catégorie compte</label>
   </div>
   <div class="col-md-9 showcase_content_area">
   <select class="custom-select">
   <option selected>Compte</option>
   <option value="1" ngModel='obj.solde'>Notification sur solde</option>
   <option value="2" ngModel='obj.transactions'>Notification sur les transactions</option>
   </select>
   </div>
   <app-repeatfield></app-repeatfield>
</div>
